@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

h1,h2,h3,h4, span{
  font-family: 'Roboto Slab', serif;
}

p,li{
  font-family: 'Merriweather', serif; 
}

*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #DED6BF;
}

.prod-img{
  box-sizing: border-box;
  transform: scale(0.80);
  overflow:visible;
}

.prod-img img{
  aspect-ratio: 3/2;
  object-fit: contain;
}

.prod-texto{
  box-sizing: border-box;
}

.img-ubicacion{
  aspect-ratio: 3/2;
  object-fit: contain;
}

#redes a{
  background: url(../src/Assets/Sprite.png) no-repeat 0 -78px;
  overflow: hidden;
  text-indent: -200px;
  display: inline-block;

  width: 39px;
  height: 39px;
}

#redes #fb:hover{
  background-position: 0 -39px;
}

#redes #pt:hover{
  background-position: -195px -39px;
}

#redes #pt{
  background-position: -195px -78px;
}

#redes #tw:hover{
  background-position: -312px -39px;
}

#redes #tw{
  background-position: -312px -78px;
}

#redes #yt:hover{
  background-position: -391px -39px;
}

#redes #yt{
  background-position: -390px -78px;
}

::-webkit-scrollbar{
  width: 10px;
  background: #b8a97f;
}

::-webkit-scrollbar-track{
  margin-block: 2em;
}

::-webkit-scrollbar-thumb{
  background: #DED6BF;
  border: 2px solid #DED6BF;
  border-radius: 15px;
}


/*------------------Responsive-(900px-850px)----------------*/
@media screen and (max-width: 900px){
  .prod-img img{
    transform: scale(0.80);
  }

  .prod-img{
    width: 15%;
  }

  .prod-texto{
    width: 35%;
    padding: 5px;
  }

  #reservas h3, #ubicacion h3{
    font-size: 26px;
  }
}

@media screen and (max-width:850px){
  .respon-li{
    margin-right: 16px;
    font-size: 16px;
  }

  #logo{
    padding: 10px;
    margin-left: 10px;
    transform: scale(0.80);
  }

  #texto1{
    width:100%;
  }

  #texto1 h2, #texto1 p{
    transform: scale(0.80);
    padding: 0px 6px;
  }

  #contenedor-divs div{
    height: 300px;
  }

  #contenedor-divs h3, #contenedor-divs p{
      transform: scale(0.80);
      padding: 2px 6px;
  }

  #texto-frutillas h3, #texto-frutillas p{
      transform: scale(0.80);
      padding: 2px 6px;
  }

  .prod-texto{
      transform:scale(0.90);
  }

  #ubicacion, #reservas{
      padding: 5px 10px;
  }
}

@media screen and (max-width:700px){
  #productos{
    width: 100%;
  }

  .prod-img{
    width: 25%;
  }

  .prod-texto{
    flex-direction: column;
    width: 75%;
  }

  #texto1{
    transform: scale(1);
    width: 100%;
  }

  #texto1 h2, #texto1 p{
    padding: 0px 3px;
  }

  #reserv-ubi{
    flex-direction: column;
  }

  #reservas div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
  }

  #ubicacion{
    width: 100%;
  }

  #ubicacion img{
    padding-bottom: 10px;
  }
}

/*------------------(670px)---------------*/
@media screen and (max-width: 670px){
  #nav{
    display: flex;
    position: fixed;
    top: 0;
    right: -275px;  
    padding: 40px;
    z-index: 1;
  }

  #nav ul{
    flex-direction: column;
    margin-top: 40px;
  }

  #nav ul li{
    margin-top: 30px;
    margin-left: 0px;
  }

  #nav ul li a{
    color: #DED6BF;
  }

  #nav img{
    display: block;
  }

  #back_menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 200vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
  }

  .menu{
    width: 40px;
    height: 40px;
  }

  #btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    fill: #DED6BF;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s;
  }

  #btn-menu:hover{
    background-color: rgba(222, 214, 191, 0.2);
  }
}
/*------------------(600px)---------------*/

@media screen and (max-width: 600px){
  header img{
    padding: 5px;
    margin-left: 5px;
    transform: scale(0.70);
  }

  #contenedor-divs{
      flex-direction: column;
      width: 100%;
  }

  #contenedor-divs div{
      width: 100%;
      height: 125px;
  }

  #contenedor-divs h3{
    font-size: 20px;
  }

  #contenedor-divs p{
    font-size: 14px;
  }

  #texto-frutillas h3, #texto-frutillas p{
    padding: 0px 3px;
  }

  #ubicacion{
      height: auto;
  }

  #ubicacion h3, #reservas h3{
      font-size: 20px;
  }

  #ubicacion, #reservas{
      padding: 0px 5px;
  }

  input, textarea{
      width: 250px;
  }

  footer li{
      font-size: 12px;
  }
}
